<a href="https://colab.research.google.com/github/seobho/energy-analysis/blob/master/read-data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#서울시 에너지 파일 열기

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('에너지사용량데이터_통계_요약정보.csv', encoding='euc-kr')

,년도,월,회원타입,건수,현년 전기사용량,전년 전기사용량,전전년 전기사용량,토탈 전기 증감량,토탈 전기탄소 증감량,현년 가스사용량,...,전년 수도사용량,전전년 수도사용량,토탈 수도 증감량,토탈 수도탄소 증감량,현년 지역난방 사용량,전년 지역난방 사용량,전전년 지역난방 사용량,토탈 지역난방 증감량,토탈 지역난방탄소 증감량,등록일
0,2023,2,학교,6686,156212159.0,157879854.0,147026809.0,3758827.5,1593742.860,6626730.0,...,1.558209e+06,1.387412e+06,198068.200,65758.64240,21391.059,27284.173,23351.389,-3926.722,-6667.713388,2023-05-01 04:13:09.0
1,2023,2,종교단체,810,8882371.0,8603719.0,7827413.0,666805.0,282725.320,653880.0,...,3.813800e+04,3.136500e+04,9063.500,3009.08200,0.000,0.000,0.000,0.000,0.000000,2023-05-01 04:13:09.0
2,2023,2,소상공인,49154,104230033.0,105285166.0,100076719.0,1549090.5,656814.372,3736526.0,...,1.459421e+06,1.314505e+06,145368.850,48262.45820,2211.410,3155.170,2193.810,-463.080,-649.340404,2023-05-01 04:13:09.0
3,2023,2,기업,19032,571542443.0,583672346.0,553650148.0,2881196.0,1221627.104,40105191.0,...,3.966371e+06,3.535192e+06,493910.700,163978.35240,0.000,0.000,0.000,0.000,0.000000,2023-05-01 04:13:09.0
4,2023,2,공동주택관리소,3629,522468207.0,541038378.0,537803346.0,-16952655.0,-7187925.720,15160829.0,...,2.095656e+07,2.138751e+07,-1071115.300,-355610.27960,0.000,0.000,0.000,0.000,0.000000,2023-05-01 04:13:09.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1040,2009,10,공공기관,563,16216821.0,14813807.0,15376858.0,1005352.5,426269.460,298824.0,...,2.923984e+05,2.952240e+05,34374.700,11412.40040,NaN,NaN,NaN,NaN,NaN,2015-06-08 15:07:34.0
1041,2009,10,개인,43711,4976029.0,4973414.0,4982141.0,-80786.0,-34253.264,956426.0,...,5.757149e+05,5.505782e+05,4139.610,1374.35052,0.000,0.000,0.000,0.000,0.000000,2015-06-08 15:07:34.0
1042,2009,9,기업,1,259.0,275.0,297.0,-27.0,-11.448,13.0,...,3.600000e+01,5.700000e+01,-8.300,-2.75560,NaN,NaN,NaN,NaN,NaN,2015-06-08 15:08:20.0
1043,2009,9,공동주택관리소,252,50493183.0,49761424.0,48591204.0,752133.5,318904.604,198961.0,...,1.968248e+06,1.836093e+06,119492.950,39671.65940,NaN,NaN,NaN,NaN,NaN,2015-06-08 15:08:20.0
1044,2009,9,개인,30691,3408312.0,3322130.0,3347949.0,32295.5,13693.292,476425.0,...,3.938582e+05,3.754772e+05,12866.135,4271.55682,0.000,0.000,0.000,0.000,0.000000,2015-06-08 15:08:20.0